$musare_color_primary_blue: #2FBEFF;
$musare_color_secondary_blue: #00AFFF;
$musare_color_primary_gray: #4A4A4A;
$musare_color_secondary_gray: #585858;
$musare_color_primary_red: #F23232;
$musare_color_secondary_red: #FF2323;
$musare_color_white: #FFFFFF;
$musare_color_light_gray: #C4C4C4;
$musare_shadow_color: hsla(0, 0, 0, .2);