@import "colors";
@import "breakpoints";

p {
	color: $musare_color_primary_gray;
}

@include responsive(smallest) {
	p {
		font-size: 12px;
		line-height: 16px;
		margin-bottom: 12px;
	}
}

@include responsive(small) {
	p {
		font-size: 21px;
		line-height: 28px;
		margin-bottom: 26px;
	}
}

@include responsive(medium) {
	p {
		font-size: 31px;
		line-height: 41px;
		margin-bottom: 39px;
	}
}

@include responsive(large) {
	p {
		font-size: 17px;
		line-height: 22px;
		margin-bottom: 32px;
	}
}