@import "colors";
@import "breakpoints";

.overlay {
	.content {
		.search-youtube-results {
			ul {
				list-style: none;

				li {
					width: 100%;
					background-color: $musare_color_white;
					border-top: solid rgba(148, 151, 153, 0.5) .5px;
					border-bottom: solid rgba(148, 151, 153, 0.5) .5px;
					border-left: solid rgba(148, 151, 153, 0.5) .5px;
					border-right: solid rgba(148, 151, 153, 0.5) .5px;
					margin-bottom: 8px;
					min-height: 56px;

					img {
						display: inline-block;
						width: 74px;
						float: left;
						margin-left: .5px;
					}

					a {
						font-size: 12px;
						display: inline-block;
						width: 177px;
						margin-left: 5px;
						margin-top: 5px;
					}

					div {
						float: right;
						width: 30px;
						color: $musare_color_secondary_gray;
						margin: 5px 5px 0 0;

						.duration {
							font-size: 13px;
							float: left;
						}

						.add {
							float: left;
							cursor: pointer;
							height: 30px;

							i {
								font-size: 30px;
							}
						}
					}
				}
			}
		}
	}
}