@import "colors";
@import "breakpoints";

main#register {
	p {
		color: $musare_color_primary_gray;

		font-size: 12px;
		line-height: 16px;
		margin-bottom: 16px;
	}

	#recaptcha {
		margin-bottom: 16px;
		$scale: 296 / 304;

		> div {
			height: 76px * $scale !important;
			width: unset !important;
		}

		iframe {
			transform: scale($scale);
		}

		> div {
			margin-left: auto;
			margin-right: auto;

			> div {
				width: 100%;
				height: 100%;
			}
		}

		iframe {
			transform-origin: 0 0;
		}
	}
}
