@import "colors";
@import "breakpoints";

main#setPassword, main#forgotPassword {
	.steps {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;

		margin-bottom: 16px;

		.step-circle {
			background-color: $musare_color_light_gray;
			border-radius: 100%;
			color: $musare_color_white;

			width: 36px;
			height: 36px;
			line-height: 36px;
			text-align: center;
		}

		.step-circle-active {
			background-color: $musare_color_primary_blue;
		}

		.step-line {
			background-color: $musare_color_light_gray;

			width: calc(50% - 58px);
			height: 1px;
		}
	}
}