@import "colors";
@import "breakpoints";

main#settings {
	h2 {
		color: $musare_color_primary_gray;
		text-align: center;

		font-size: 20px;
		line-height: 27px;
		margin-bottom: 16px;
	}

	.general-section {
		button:last-child {
			margin-bottom: 0;
		}
	}

	.security-section {
		margin-top: 24px;
	}
}